.date-selector-container{
    min-width: 820px;
    max-width: 820px;
    width: 53vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.year-month-display{
    font-size: 300%;
    margin: 5px;
}
.date-selector{
    height: 50%;
    border: none;
    box-shadow: 0px 0px 1px 0.5px grey;
}