.event-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.remove-btn{
    width: 5vw;
    height: 3.5vh;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 1px 0.3px grey;
    margin: 3px;
    border-radius: 5%;
}
